<div class="section">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">COGNIZANT CHALLENGE</span>
            <div class="d-flex">
                <div class="first">
                    <button type="button" class="btn btn-secondary btn_1">SOLVE</button>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-secondary">TOP 3</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-6">
            <div class="container">
                <div class="body">
                    <form>
                        <div class="mb-3 row">
                            <label for="name" class="col-sm-3 col-form-label">NAME</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="task" class="col-sm-3 col-form-label">SELECT TASK</label>
                            <div class="col-sm-9">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>select task</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="description" class="col-sm-3 col-form-label">DESCRIPTION</label>
                            <div class="col-sm-9">
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                    egestas. Vestibulum tortor quam.</p>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="name" class="col-sm-3 col-form-label">SOLUTION CODE</label>
                            <div class="col-sm-9">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                        style="height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="name" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
    
                                <button type="button" class="btn btn-secondary">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
        <div class="col-sm-6 body_1">
            <app-score-page></app-score-page>
        </div>
    </div>
</div>