<table class="table">
    <thead class="tab">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Success Code</th>
            <th scope="col">Task</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark</td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td colspan="2">Larry</td>
            <td>

            </td>
        </tr>
    </tbody>
</table>