<!-- <div class="container">
  <div class="section-one">
<div class="left-input">
  <select name="code" id="code">

  <option value="curl">cURL</option>
  <option value="code">Code</option>
</select>
</div>
<div class="right-input">
  <h4>Show Response</h4>
  <input type="radio" name="response" id="checkbox">
</div>
  </div>
  <div class="section-two">
    <pre>

    </pre>
  </div>
  <div class="section-three">
    <pre>

    </pre>
  </div>
</div> -->

<div class="container">
    <div class="section-one">
      <div class="left">
        <select name="code" id="code">
  
          <option disabled selected>cURL</option>
          <option value="code">Code</option>
          <option value="node">Node</option>
        </select>
      </div>
      <div class="right">
        <h6>Show response</h6>
        <label class="switch">
          <input type="checkbox" [checked]="check" (change)="changed($event)">
          <span class="slider"></span>
        </label>
      </div>
    </div>
    <div class="section-two">
      <pre>
  {{code}}
      </pre>
    </div>
  
    <div *ngIf="check" class="section-three">
      <pre>
  {{response}}
      </pre>
    </div>
  </div>
  
  